My Bucket List

<% @bucket_fillers.each do |bucket_filler| %>
<h4><a href="/bucket_fillers/<%= bucket_filler.id %>"><%= bucket_filler.created_at %></a></h4>
  <p><%= bucket_filler.content %></p>
  <p><br>From  <%= bucket_filler.user.name %></p>
  <br><br>
<% end %>