<h2>Add To Bucket: </h2>

<form class="" action="/bucket_fillers" method="post">
  <label for="name">Content:</label>
  <input type="text" name="content" value="">

  <input type="submit" name="" value="Create Entry">
  </form>


