<h2>Add To Bucket: </h2>

<form class="" action="/bucket_fillers" method="post">
  <label for="content">Content:</label>
  <input id="content" type="text" name="content" value="">
  <input id="completed" type="checkbox" name="completed" > <label for="completed">Completed</label>
  <input type="submit" name="" value="Create Entry">
  </form>


