This is where you can see information about a bucket_filler

<p><%= @bucket_filler.content %></p>


<% if edit_privileges?(@bucket_filler) %>
<a href="/bucket_fillers/<%= @bucket_filler.id %>/edit">Edit Bucket</a>
<br><br>
<form class="" action="/bucket_fillers/<%= @bucket_filler.id %>" 
method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" name="" value="Delete this Entry">
    </form>
<% end %>
