

<p><%= @bucket_filler.content %></p>
<% if @bucket_filler.completed %>

<p> Bucket Filler Checked Off! </p>

<% else %>
<p> Please Check Bucket! </p>

<% end %>

<% if edit_privileges?(@bucket_filler) %>
<a href="/bucket_fillers/<%= @bucket_filler.id %>/edit">Edit Bucket</a>
<br><br>
<form class="" action="/bucket_fillers/<%= @bucket_filler.id %>" 
method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" name="" value="Delete this Entry">
    </form>
<% end %>
